body {
  width: 1100px;
  background-color: rgb(228, 228, 228);
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .mainContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mainContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .mainContent {
    grid-template-columns: 1fr;
  }
}

.btnAdd {
  position: absolute;
  right: 0;
  bottom: 100px;
  height: 80px;
  max-width: 400px;
  width: 100%;
  border-radius: 6px;
  box-shadow: -4px 2px 8px 0px #35353565;
  background-color: #00a2ff;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  h2 {
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    width: 100%;
  }

  p {
    color: #414141;
    font-size: 1rem;
    width: 100%;
  }

  p:nth-of-type(1)::before {
    content: 'Author: ';
  }

  p:nth-of-type(2)::before {
    content: 'Pages: ';
  }

  button {
    background-color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #d0d0d0;
  }
}

.unreadStatus::before,
.readStatus::before {
  display: inline-block;
  background-size: 100%;
  width: 20px;
  height: 20px;
  content: '';
  vertical-align: middle;
  margin-right: 5px;
}

.unreadStatus::before {
  background-image: url('../icons/eye-off-outline.svg');
}

.readStatus::before {
  background-image: url('../icons/eye-outline.svg');
}

#modal {
  width: 300px;
  height: auto;
  max-height: 300px;
  border: none;
  border-radius: 6px;
  padding: 0;
  box-sizing: border-box;
}

#modal::backdrop {
  background-color: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(15px);
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 16px;
}

.modalContent {
  color: white;
  font-weight: 600;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #00a2ff;
  box-sizing: border-box;
}

.modalContent form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 12px;
}

form div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

form label {
  flex: 0 0 60px;
  margin-right: 8px;
}

form input {
  flex: 1 1 auto;
  max-width: 100%;
}

form > button {
  display: block;
  padding: 8px 16px;
  align-self: center;
  width: 150px;
  margin-top: 16px;
}

input[type='checkbox'] {
  flex: 0;
}

label[for='read'] {
  flex: 0 0 0;
}

.readContainer {
  align-self: center;
  justify-content: center;
  gap: 5px;
}
